<h1>Figures</h1>
<ul>
<% @figures.each do |figure| %>
  <li><a href="/figures/<%= figure.id %>"><%= figure.name %></a></li>
<% end %>
</ul>
<br>
<a href="/figures/new">Create New Figure</a>

<a class="button" href="/figures" </a>
<br>
<a class="button" href="/">Home</a>
